<footer class="bg-gray-100 text-center border-t border-grey p-4">
	Built with
	<a class="a" href="https://gitlab.com/multi-coop/vitrine" target="_blank" style="font-weight:bold">Vitrine</a>
	• Hackathon Dashboard Powered by
	<a class="a" href="https://www.discourse.org/" target="_blank">Discourse</a>
	and
	<a class="a" href="https://about.gitlab.com/" target="_blank">GitLab</a>
</footer>
