<script>
	import { Icon } from "smelte"
	import createRipple from "smelte/src/components/Ripple/ripple.js"
	import utils from "smelte/src/utils/classes.js"

	export let icon = ""
	export let id = ""
	export let text = ""
	export let to = ""
	export let selected = ""
	export let color = "primary"
	export let notSelectedColor = "white"

	let className = ""
	export { className as class }

	const ripple = createRipple(color)

	const defaultClasses =
		"relative overflow-hidden text-center p-4 cursor-pointer flex mx-auto items-center opacity-75 text-sm h-full"

	const { border, txt } = utils(color)

	$: textColor = selected === id ? txt() : "text-" + notSelectedColor
	$: borderClasses = selected === id ? `border-b-2 ${border()}` : ""
</script>

<a
	use:ripple
	href={to}
	class="{className}
  {defaultClasses}
  {textColor}
  {borderClasses}"
	on:click
	class:uppercase={icon}>
	<div class="flex flex-col items-center content-center mx-auto">
		{#if icon}
			<Icon class="mb-1" color={textColor}>{icon}</Icon>
		{/if}

		<div>
			<slot>{text}</slot>
		</div>
	</div>
</a>
